%i.icon<>
    &#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;&#62217;
%h2关于我们
%h4 北纬35度41分，东经139度43分 日本东京
%h4 我们将开始这样的一段特别的旅行....

%p 世外桃源，避世绝俗的树上餐厅（夕阳微醺，阵阵草木香中与他共进晚餐）
= image_tag "01.jpeg", size: "360x200", alt: "树上餐厅"
%p 光怪陆离，星光游乐园（惊心动魄，欢乐开怀，游乐园不止有迪士尼）
= image_tag "02.png", size: "360x200", alt: "星光游乐园"
%p 关于夏天的东京的记忆是花火・浴衣（穿着美美的浴衣和闺蜜去看花火大会）
= image_tag "03.png", size: "360x200", alt: "浴衣花火"
%p 「人生至少有两次冲动，一场奋不顾身的爱情，一次说走就走的旅行」
%p 可是说走就走，谈何容易？
%p 一个陌生的异国城市：路线，景点，住所，当开始想这些琐碎的计划时，当初奋不顾身的热情就一点点被碾碎，所以多少人的「说走就走」最后变成了「无可奈何」
= image_tag "04.png", size: "360x200", alt: "无可奈何"
%p  <2016，日本东京，我们相约这样的一场旅行：
%p 你拿起行李，说走就走；只闻花香，不谈悲喜。
%p 没有固定的路线，只有你说走就走的热情和勇气。
%p 潮牌潮店，酒吧夜色，名校游览，以及你想体验的日本的一切，我们都可以为你量身定做！





%h3【我们的团队】
%p 由东京大学，早稻田大学，庆应义塾大学等日本顶级名校的中国留学生组成，用我们在日本多年积攒的关于美食，购物，游玩等等的经验，为你计划专属于你的行程计划。同时，我们可以为您提供翻译，向导，司机，预定等你需要的服务。
%p 无论您已计划来日本旅游，或者还在犹豫中，只要您有需要都可以咨询我们！
%p 2016，我们相约日本东京！













