<div class="fullscreen nopadding">
  <div id="header">
    <img src="http://blog.codepen.io/wp-content/uploads/2012/06/Button-Black-Small.png" width="50px" />
    
  </div>
  <div class="header">
    <h1>小明のおすすめ</h1>
  </div>
</div>

<div class="white nopadding more">
  <a id="more">&#x25BC; More &#x25BC;</a>
</div>

<div class="white">
  <a id="test"></a>
  <h1 class='first_choice'>Your first choice 東京</h1>
  <img class="floatleft" src="https://mmbiz.qpic.cn/mmbiz/sWBRQoGHMGoL6iaGFy1k6MVZEJXIic4aCu6QUXicRpiboKavficG08UhnYR4KaVChf4IyWu5dEZldTwWfE0AICODWtw/640?wx_fmt=jpeg&wxfrom=5&wx_lazy=1" />
  <p><a href="">美女带你玩东京</a> 美女们最爱的美景圣地江户川小明GO嗨！今天小明给大家发福利啦！5位在日资深美女带你游览十个美景圣地！
  跟她们一起粗发吧！
</p>
  <img class="floatright" src="https://mmbiz.qpic.cn/mmbiz/sWBRQoGHMGo30rticnpQTZRnxXNGicbqApG8EXHpVNCBUWqQliaX5Fgg5NX1P9UUUpJtR94bf8IcUND7XTlqGUFGw/640?wx_fmt=jpeg&wxfrom=5&wx_lazy=1" />
  <p>Profile 1居住地：上海→大阪→东京星座：天蝎座趣味：宠物（萌宠🐰一只），时尚潮流少女
</p>
</div>

<div class="semitrans">
  <h1>首先要购物</h1>
  <p>【表参道 in 东京】
如果你是潮流先端爱好者一枚，那么表参道绝对是你的不二之选。作为各种潮牌、名品、私人高级定制店铺的汇聚地，表参道现已成为东京时尚的代名词。这里不仅是fashion达人的购物天堂，更是各路潮人模特街拍首选地。运气好的话说不定还能偶遇大明星哦~
</p>
  <h2>还有好吃的食物哦</h2>
  <p>接下来小明为大家推荐一家名满东京的牡蛎餐厅——位于涩谷的Paccio Oyster Bar。烧烤、盐焗、蒜蓉 ... 多种多样的牡蛎主打菜式让你大饱口福，如果觉得不过瘾还有无限量牡蛎自助餐！这个夏天，牡蛎配啤酒，赶紧带上家人朋友们来大快朵颐吧~</p>
  <h2>剩下的你亲自来看</h2>
  <p>  想体验日本传统文化，怎么能错过东京都最古老的浅草寺呢？换上美美的和服木屐，漫步在青青的石板路上。在寺里求一支签，虔诚地许下心愿。（小明亲测！浅草寺许愿非常灵验！！）通往正殿的小路上摆满了琳琅满目的日式杂货，选个和风小礼物带回家吧~提到游乐园，如果你只能想到迪士尼，那可就out啦！让小明为你介绍日本最古老的游乐园——浅草花屋敷。顾名思义，这是一个花香满地的童话世界。作为有着160年历史的主题公园，园内处处保留了传统日式风情的景观和游乐项目，还有不同季节限定的舞台剧和花样百出的游戏互动节目。是结合复古怀旧和开心刺激于一体的独特体验！</p>
</div>

<div class="dark">
  <p>如果你想继续了解我们 <a href="https://mp.weixin.qq.com/s?__biz=MzIzMTQ4NDI2MA==&mid=2247483695&idx=1&sn=f90141ecfb2101d5da7bbf528f50c4d9&mpshare=1&scene=1&srcid=0516JdI5v0T5Z0faUEl8Q0or&key=ae5ee5a6978767adf5099e9d079b6208dd6dd75447bd6c16b8142d84fd93dad45dfdd49fdf69f6b1ae09f1a478f15b348d850b525972c2502c9bed597f41015d5f7c3731a7b0b815ea0c5b9e8d4f256e&ascene=0&uin=OTkwMDM3MTAw&devicetype=iMac+MacBookAir6%2C2+OSX+OSX+10.11.6+build(15G31)&version=12020110&nettype=WIFI&fontScale=100&pass_ticket=8DYNtzd8FtCV10q11QgjjaJOf7SwX%2BzygqtdIA8%2ByM7TuCglQS2Jp%2BcMM%2FeuIbWQ">details</a>. 请关注我们的公共号 <a href="https://mp.weixin.qq.com/s?__biz=MzIzMTQ4NDI2MA==&mid=2247483655&idx=1&sn=caaf35d00992503dccec244798ef634c&mpshare=1&scene=1&srcid=0516XQ2xyhYQcvy2K7B6eygS&key=9e682b0125d9bdbc9702114c9fd5831a76341a705fdcd5a54a8cb7cd89a9b93a1f290d22e51c279a1aaec0b502dbc485ab576a6691f7af00d3316fa27c23188b529c555273e580c4646f370f9750d5a5&ascene=0&uin=OTkwMDM3MTAw&devicetype=iMac+MacBookAir6%2C2+OSX+OSX+10.11.6+build(15G31)&version=12020110&nettype=WIFI&fontScale=100&pass_ticket=8DYNtzd8FtCV10q11QgjjaJOf7SwX%2BzygqtdIA8%2ByM7TuCglQS2Jp%2BcMM%2FeuIbWQ">our official account</a>!</p>
</div>
