header {
  background-color: #FFF0F5;
  height: 110px;
  width: 380px;
  text-align:center；
}
header{color:#FFFFFF;}

.contA {
  height: 300px;
  width: 380px;
  background-color: #FFF0F5;
}
.contB {
  height: 300px;
  width: 380px;
  background-color: #FFF0F5;
}
footer {
  background-color: #FFF0F5;
  height:20px;
}