.funcBtn
  .funcBtn_contents
    %a{href: "/tweets/new"}
      %span.fa.fa-pencil
  .funcBtn_contents
    %a{href: "/tweets"}
      %span.fa.fa-list

  - if user_signed_in?

    .funcBtn_contents
      = link_to user_path(current_user) do
        %span.fa.fa-users
    .funcBtn_contents
      %a{"data-method" => "delete", :href => "/users/sign_out", :rel => "nofollow"}
        %span.fa.fa-sign-out

  - else
    .funcBtn_contents
      = link_to new_user_session_path do
        %span.fa.fa-sign-in
    .funcBtn_contents
      = link_to  new_user_registration_path do
        %span.fa.fa-user-plus